h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

.flexible {
    display: flex;
}

.half-widtho {
    width: 50%;
    padding-left: 5%;
}

.half-widths {
    width: 600%;
}

.pos {
    padding-left: 10%;
    padding-top: 5%;
}